@import 'frontend/styles/variables.scss';

a {
  &:hover, &focus {
    text-decoration: none;
  }
}



.cp-card {
  border: solid 5px !important;
  background-color: $main-color;
  height: 250px;

  .card-block {
    margin-left: 12px;
    padding-top: 8px;

    .card-price{
      margin: 0;
      font-weight: 500;
      font-size: 21px;
      color: $main-text-color !important;
    }

    .card-title {
      font-size: 19px;
      font-weight: 900;
    }

    .card-text {
      font-size: 19px;
      font-weight: 600;
      color: $main-text-color;
      margin-bottom: 0;
    }
  }
}
