<div routerLink="/orders/{{order.id}}">
  <div class="card cp-card">
    <div class="card-block">
      <h3 class="card-title">Order {{order.id}}</h3>
      <h3 class="card-text" *ngIf="order.deliveredAt">Order Delivered on {{order.deliveredAt | date:'fullDate'}} at {{order.deliveredAt | date:'shortTime'}}</h3>
      <h3 class="card-text" *ngIf="!order.deliveredAt">Order Scheduled for {{order.requestedDeliveryDate | date:'fullDate'}} at {{order.requestedDeliveryDate | date:'shortTime'}}</h3>
      <br>
      <h3 class="card-text">{{order.customer}}</h3>
      <br>
      <h3 class="card-price">£{{roundedTotal}}</h3>
    </div>
  </div>
</div>
<br>
